body {
  background-color: #50c9c3;
}

h1,
p {
  font-family: Lato;
}
.button-counter {
  cursor: pointer;
}
.parent-container {
  display: inline-block;
  align-items: center;
  border: 2px solid black;
  width: fit-content;
  padding: 5px;
  background-color: #a8caba;
  /* position: relative;
  left: 500px;
  top: 250px; */
}

.list-container {
  display: inline-block;
  background-color: burlywood;
  border: 2px solid black;
}

.list-items {
  display: flex;
  border: 2px solid red;
}
